.statistics__container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.statistics__title {
    align-items: center;
    display: flex;
    font-family: 'Avenir Heavy';
    font-size: 16px ;
    justify-content: space-between;
    padding: 0 21px;
}

.statistics__save {
    align-items: center;
    background-color: $background-light;
    border-radius: 4px;
    border: 1px solid $border;
    box-shadow: inset -2px -2px 4px 0 #040B11, inset 2px 2px 4px 0 #1C232A;
    display: flex;
    height: 24px;
    justify-content: space-evenly;
    width: 53px;
}

.statistics__save-arrow {
    align-items: center;
    border-right: 1px solid $border;
    display: flex;
    max-height: 24px ;
}

.statistics__save-little-arrow {
    display: flex;
}

.statistics__detail {
    align-items: center;
    background-color: $background-light;
    border-radius: 8px;
    box-shadow: inset -2px -2px 4px 0px #040B11, inset 2px 2px 4px 0px #1C232A, 0px 13px 9px 0px #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 138px;
    justify-items: center;
    margin: auto;
    margin-top: 20px;
    max-width: 323px;
    min-width: 323px;
}

.statistics__detail-item-1 {
    border-bottom: 1px solid $border;
    border-right: 1px solid $border;
    border-top-left-radius: 8px;
}

.statistics__detail-item-2 {
    border-bottom: 1px solid $border;
    border-top-right-radius: 8px;
}

.statistics__detail-item-3 {
    margin-left: -10px;
}

.statistics__detail-item-4 {
    border-right: 1px solid $border;
}

.statistics__detail-item-1, .statistics__detail-item-2,
.statistics__detail-item-3, .statistics__detail-item-4 {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    height: 100%;
}

.statistics__detail-item-1-title, .statistics__detail-item-2-title,
.statistics__detail-item-3-title, .statistics__detail-item-4-title {
    display: flex;
    flex-direction: column;
    font-family: 'Avenir Heavy';
    
    
    span:first-child {
        font-size: 18px;
    }

    span:nth-child(2) {
        color: $secundary;
        font-family: 'Avenir';
        font-size: 14px;
    }
}

.statistics__graph {
    align-self: center;
    background-color: $background-light;
    border-radius: 16px;
    border: 1px solid $background-light;
    box-shadow: inset 2px 2px 6px 0 #1C232A, inset -2px -2px 6px 0 #040B11;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
    max-height: 356px;
    min-height: 356px;
    width: 326px;
}

.statistics__graph-main {
    align-items: center;
    display: flex;
    font-family: 'Avenir Heavy';
    flex-direction: column;
    justify-content: center;    

    span {
        font-size: 45px;

        sup {
            font-family: 'SFNS Display Regular';
            font-size: 22px;
        }
    }
}

.statistics__graph-main-img {
    height: 90px;
    position: relative;
    top: 25px;
    hr {
        position: absolute;
        left: 225px;
        top: 5px;
        opacity: 0.2;
    }
}

.statistics__graph-main-img-details {
    background-color: $primary;
    border-radius: 50px;
    height: 10px;
    left: 221px;
    position: absolute;
    top: 2px;
    width: 10px;
    z-index: 1;
}

.statistics__graph-periods {
    display: flex;
    font-family: 'Avenir Heavy';
    font-size: 18px;
    justify-content: space-evenly;

    span:nth-child(3) {
        color: $selected;        
    }
}

.statistics__graph-periods-active {
    text-decoration: underline;
    text-underline-position: under;
}

.statistics__graph-months {
    color: $secundary;
    display: flex;
    font-family: 'Avenir Heavy';
    font-size: 16px;
    justify-content: space-evenly;
    span:nth-child(5) {
        color: $primary;
        font-family: 'SFNS Display Regular';
    }
}

@media ( min-width: 720px ) {
    .statistics__container {
        padding: 15px 0;
    }
    
    .statistics__title {
        font-size: 24px ;
        padding: 0 31px;
    }

    .statistics__save {        
        border-radius: 6px;     
        box-shadow: inset -3px -3px 6px 0 #040B11, inset 3px 3px 6px 0 #1C232A;     
        height: 36px;    
        width: 80px;
    }
    
    .statistics__save-arrow {
        max-height: 36px ;
        svg:first-child {
            width: 51px;
            height: 49px;
        }

    }    
    
    .statistics__save-little-arrow {
        svg:first-child {
            width: 9px;
            height: 8px;
        }

    }

    .statistics__detail {
        border-radius: 12px;
        box-shadow: inset -3px -3px 6px 0px #040B11, inset 3px 3px 6px 0px #1C232A, 0px 19px 13px 0px #000000;
        height: 207px;        
        margin-top: 30px;
        max-width: 485px;
        min-width: 485px;
    }

    .statistics__detail-item-1 {
        border-top-left-radius: 12px;
        border-bottom: 2px solid $border;
        border-right: 2px solid $border;
        svg {
            width: 66px;
            height: 66px;
        }
    }
    
    .statistics__detail-item-2 {
        border-top-right-radius: 12px;
        border-bottom: 2px solid $border;
        svg {
            width: 30px;
            height: 30px;
        }
    }
    
    .statistics__detail-item-3 {
        margin-left: -15px;
        svg {
            width: 33px;
            height: 34px;
        }
    }

    .statistics__detail-item-4 {
        border-right: 2px solid $border;
        svg {
            width: 27px;
            height: 46px;
        }
    }

    .statistics__detail-item-1-title, .statistics__detail-item-2-title,
    .statistics__detail-item-3-title, .statistics__detail-item-4-title {
        span:first-child {
            font-size: 27px;
        }
    
        span:nth-child(2) {
            font-size: 21px;
        }
    }

    .statistics__graph {
        border-radius: 24px;
        border: 2px solid $background-light;
        box-shadow: inset 3px 3px 9px 0 #1C232A, inset -3px -3px 9px 0 #040B11;
        margin-top: 45px;
        max-height: 534px;
        min-height: 534px;
        width: 489px;
    }
    
    .statistics__graph-main {
        span {
            font-size: 67px;
    
            sup {
                font-size: 33px;
            }
        }
    }

    .statistics__graph-main-img {
        height: 135px;
        position: relative;
        top: 37px;
        hr {
            height: 162px;
            left: 352px;
            opacity: 0.3;
            position: absolute;
            top: 7px;
            width: 2px;
        }
        img {
            overflow: hidden;
            width: 486px;
        }
    }
    
    .statistics__graph-main-img-details {
        border-radius: 75px;
        height: 15px;
        left: 346px;
        top: 3px;
        width: 15px;
    }
    
    .statistics__graph-main-img {
        height: 135px;
        position: relative;
        top: 37px;
    }
    
    .statistics__graph-periods {
        font-size: 27px;
    }
    
    .statistics__graph-months {
        font-size: 24px;
    }
}
