@font-face {
    font-family: 'Avenir';
    src: local('Avenir Book'), local('Avenir-Book'),
        url('/src//assets/fonts/AvenirBook/Avenir-Book.ttf') format('woff2'),
        url('/src/assets/fonts/AvenirBook/Avenir-Book.woff') format('woff'),
        url('/src/assets/fonts/AvenirBook/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
      font-family: 'Avenir Heavy';
      src: url('/src/assets/fonts/avenir-heavy.otf');
  }

  @font-face {
      font-family: 'SFNS Display Regular';
      src: url('/src/assets/fonts/SFNS\ Display\ Regular.ttf');
  }

  @font-face {
      font-family: 'SFNS Display Regular';
      src: url('/src/assets/fonts/SFNS\ Display\ Regular.ttf');
  }