@font-face {
    font-family: 'AvenirBook';
    src: local('AvenirBook'),
         url('AvenirBook-webfont.eot?#iefix') format('embedded-opentype'),
         url('AvenirBook-webfont.woff') format('woff'),
         url('AvenirBook-webfont.ttf') format('truetype'),
         url('AvenirBook-webfont.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-strecht: condensed;
    unicode-range: "U+0-10FFFF";
}